<%= render 'common/titulo_pagina', titulo: "Contas Correntes de #{@investidor.nome}" %>

<% @conta_correntes.each do |cc| %>
  <p><%= link_to cc.corretora.nome, conta_corrente_path(cc) %></p>
<% end %>
