<%= render 'common/titulo_pagina', titulo: "Operações tributáveis em #{@data.year}" %>



<div class="card">
  <div class="card-header">
    <h5>Regras importantes</h5>
  </div>
  <div class="card-body">
    <p class="card-text">
      <h6>Brasil</h6>
      <ol>
        <li>Para ações, isenção em vendas de até R$ 20 mil por mês</li>
        <li>Para FII, as vendas de cotas não são isentas, qualquer que seja o valor das vendas,
          o IR deve ser sempre apurado e, se for o caso, recolhido. </li>
        <li>Só é admitida compensação de prejuízos com ganhos posteriores entre ativos da mesma espécie,
          isto é, perdas com ações não podem ser compensadas com ganhos em cotas de FII – e vice-versa. </li>
      </ol>

      <h6>Exterior</h6>
      <ol>
        <li>Isenção em vendas de até R$ 35 mil por mês. Os ETFs <b>não</b> usufruem dessa isenção. </li>
        <li>Diferente dos ativos listados no Brasil, se você tiver lucro em uma operação e prejuízo em outra,
          não é possível abater a diferença para fins tributação“, acrescenta Amparo, “Por exemplo, se você
          lucrou R$100 mil e teve prejuízo de R$80 mil, você pagará impostos integrais sobre os R$100 mil
          sem redução (R$ 15 mil)”. </li>
      </ol>
    </p>
  </div>
</div>

<br>
<h4>Ações no Brasil</h4>
<%= render 'tabela_operacoes', tributacao: @tributacao_acoes_brl %>
<br>
<h4>FII no Brasil</h4>
<%= render 'tabela_operacoes', tributacao: @tributacao_fii_brl %>

<h4>EUA</h4>
<%= render 'tabela_operacoes', tributacao: @tributacao_usd %>


<small><em>Valor I.R.</em> se positivo é imposto a pagar. Se negativo é prejuizo, portanto, nada a pagar.</small>