<%= render 'common/btn_new', url: new_carteira_operacao_path, label: 'Registrar operação' %>

<h5>Saldo em Contas Correntes</h5>
<%= render 'common/saldos_contas_corrente', contas_correntes: @contas_correntes %>

<%= render 'common/operacoes_table', operacoes: @operacoes %>
