<div class="row">
  <div class="btn-group" role="group" aria-label="Ultimos meses">
    <% Utils.meses_passados_ano(Date.today).each do |ultimo_dia| %>
      <%= link_to l(ultimo_dia, format: '%b'), request.params.merge(data: ultimo_dia.strftime('%Y-%m-%d')), class: "btn btn-outline-primary" %>
    <% end %>
  </div>
</div>