
<% [['XP', @posicao_corretora_xp], ['Avenue', @posicao_corretora_avenue]].each do |posicao_corretora|  %>
  <% corretora = posicao_corretora[0] %>
  <% posicao = posicao_corretora[1] %>
  <h4>Corretora <%= corretora %></h4>
  <table class="table table-striped table-sm">
    <thead class="thead-light">
    <tr>
      <th scope="col">Ativo</th>
      <th scope="col">Quantidade<br></th>
      <th scope="col">Tipo</th>
    </tr>
    </thead>

    <tbody>
    <% posicao.each do |p| %>
      <tr>
        <td><%= p[0] %></td>
        <td><%= display_numero p[1] %></td>
        <td><%= p[2] %></td>
      </tr>
    <% end %>

    </tbody>

  </table>
<% end %>