<% nome = local_assigns.fetch :nome, false %>
<% url = local_assigns.fetch :url, false %>

<h5>
  <%= link_to bootstrap_icon("arrow-left-circle") + " " + nome, url, class: "btn btn-outline-secondary" %>
</h5>