<% contas_correntes = local_assigns.fetch :contas_correntes %>

<% contas_correntes.each do |cc| %>
  <% saldo = cc.saldo(@data)  %>
  <% next if saldo == 0  %>
  <span class="font-weight-lighter">
    <%= display_moeda saldo, moeda: cc.moeda %>
    <small class="text-muted">
      <%= cc.corretora.nome %> (<%= link_to 'extrato', carteira_conta_corrente_path(@carteira, cc, data: @data) %>)
    </small>
  </span>
  <br>
<% end %>