
<% carteira = local_assigns.fetch :carteira, @carteira %>

<h5>
<%= link_to bootstrap_icon("arrow-left-circle-fill", width: 20, height: 20), carteira_path(carteira) %> Carteira <%= carteira.nome %>
</h5>