<div class="d-flex justify-content-between"><h1>Referências</h1><%= link_to "Nova referência", new_referencia_path, class: "btn btn-primary" %></div>
<div class="list-group"><% @referencias.each do |referencia| %><%= link_to referencia.nome, referencia, class: "list-group-item list-group-item-action" %><% end %></div>
