<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Admin
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="<%= referencias_path %>">Referências</a>
    <a class="dropdown-item" href="<%= carteiras_path %>">Carteiras</a>
    <a class="dropdown-item" href="<%= ativos_path %>">Ativos</a>
    <a class="dropdown-item" href="<%= cotacoes_path %>">Cotações</a>
  </div>
</li>